<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <title>Listado</title>

</head>
<body>
  <div class="text-center p-3">
  <h1>Listado total de libros</h1>
  <a class="btn btn-primary" type="button" href="/books/new">Nuevo Libro</a>
  </div>
<div class="container">
  <div class="row">
    {{#each books}}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card" style="width: 15rem;">
        <img src="/assets/uploads/{{this.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.author}} - {{this.category}}</p>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">$ {{this.price}}</p>
          <div class="text-center">
          <button class="btn btn-warning" type="button" onclick="window.location.href='/books/{{_id}}'">Ver datos del libro</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


  <a href="/">Volver al inicio</a>

     <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
</body>
</html>