<h2>{{book.name}}</h2>
<p>{{book.description}}</p>
<p>{{book.price}} $rt</p>


<a href="/books/{{book._id}}/edit">Editar</a>

<form action="/books/{{book._id}}/delete" method="post">
  <input type="text" name="delete" value="delete">
  <button type="submit">Eliminar</button>
</form>

<a href="/books">Volver al listado de productos</a>